{% extends 'base.html' %}

{% block content %}

<div class='subject-list'>
    {% if user_profile.profile_pic %}
    <img class='profile_pic' src="{{ user_profile.profile_pic.url }}" alt="Profile Pic">
    {% endif %}
    <h1>{{ user_profile.username }}</h1>
    <p>LinkedIn:{{ user_profile.linkedin_url }}</p>
    <p>{{ user_profile.department }}</p>
    <p>{{ user_profile.course }}: {{ user_profile.year }}</p>
    <p>{{ user_profile.description }}</p>
    <a href="{% url 'accounts:subjects' pk=user_profile.user.pk %}"><button>Subjects</button></a>
    {% if user == user_profile.user %}
    <a href="{% url 'accounts:update_profile' pk=user_profile.user.pk %}"><button>Update Profile</button></a>
    <a href="{% url 'accounts:delete_profile' pk=user_profile.user.pk %}"><button>Delete My Account</button></a>
    {% endif %}
</div>

{% endblock %}